// StaticHeapAnalyzerGUI.rc  -- Win32-only, no MFC/AFX
#pragma code_page(65001)

#include "resource.h"
#include <winres.h>

LANGUAGE LANG_KOREAN, SUBLANG_KOREAN

/////////////////////////////////////////////////////////////////////////////
// Version
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041204b0"
        BEGIN
            VALUE "CompanyName",      "StaticHeapAnalyzer"
            VALUE "FileDescription",  "Static Heap Analyzer GUI"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "StaticHeapAnalyzerGUI"
            VALUE "LegalCopyright",   "Copyright 2024"
            VALUE "OriginalFilename", "StaticHeapAnalyzerGUI.exe"
            VALUE "ProductName",      "Static Heap Analyzer"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x412, 1200
    END
END
